
params {

	sampleID               = "TCGA-AA-A01R"
	results                = "$baseDir/results"
	paired_dna_seq         = true
	paired_rna_seq         = false 
	rna_seq_read_1         = "$baseDir/data/reads/TCGA-AA-A01R/rna-seq/TCGA-AA-A01R-01A-21R_1.fastq.gz"
	rna_seq_read_2         = ""
	tumor_wxs_read_1       = "$baseDir/data/reads/TCGA-AA-A01R/wxs/TCGA-AA-A01R-01A-21W_1.fastq.gz"
	tumor_wxs_read_2       = "$baseDir/data/reads/TCGA-AA-A01R/wxs/TCGA-AA-A01R-01A-21W_2.fastq.gz"
	normal_wxs_read_1      = "$baseDir/data/reads/TCGA-AA-A01R/wxs/TCGA-AA-A01R-11A-12W_1.fastq.gz"
	normal_wxs_read_2      = "$baseDir/data/reads/TCGA-AA-A01R/wxs/TCGA-AA-A01R-11A-12W_2.fastq.gz"
	genome_fasta           = "$baseDir/data/gatk-resource/ucsc.hg19.fasta"
	known_dbsnps_file      = "$baseDir/data/gatk-resource/dbsnp_138.hg19.vcf"
	cosmic_file            = "$baseDir/data/gatk-resource/hg19_cosmic_v54_120711.vcf"
	known_indel_file       = "$baseDir/data/gatk-resource/1000G_phase1.indels.hg19.sites.vcf"
	known_dbsnps_1000_file = "$baseDir/data/gatk-resource/1000G_phase1.snps.high_confidence.hg19.sites.vcf"
	mills_indel_file       = "$baseDir/data/gatk-resource/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"	
	mzml_files_dir         = "$baseDir/data/reads/TCGA-AA-A01R/mzml"
	modification_file_txt  = "$baseDir/data/reads/TCGA-AA-A01R/mods/TCGA-AA-A01R.mods.txt"
	hla_reference_dna      = "$baseDir/data/optitype/hla_reference_dna.fasta"
	refseq_human_hg19_gtf  = "$baseDir/data/rsem/refseq_human_hg19_refGene_20170329.gtf"
	annovar                = "$baseDir/data/annovar"
	netmhcpan              = "$baseDir/data/netMHCpan-4.0/netMHCpan"
	mhc_affinity_cutoff    = 150

	msgfplus {

		t                  = "10.0ppm"
		tda                = 1
		m                  = 1
		inst               = 0
		e                  = 1
		protocol           = 5
		minLength          = 7
		maxLength          = 45
		n                  = 1
		ti                 = "0,0"
		addFeatures        = 1		
		minCharge          = 2
		maxCharge          = 3
		ntt                = 2
		maxMissedCleavages = 2
	}

	threads {

		mutect2           = 1
		annovar           = 3
		mapping           = 3
		print_reads       = 3
		target_creator    = 3
		base_recalibrator = 3
		msgfplus          = 3
    }
}

docker {

	enabled    = true
	remove     = true
	runOptions = '-u $(id -u):$(id -g)'
	temp       = "/data/namai/tmp/"
}

process {

	scratch = true
}

executor {

	cpus         = 10
	name         = "local"
	dumpInterval = "1min"
}

trace {

	enabled = false
	file    = "$params.results/$params.sampleID/trace.txt"
}

report {

	enabled = true
	file    = "$params.results/$params.sampleID/report.html"
}

timeline {
	enabled = true
	file    = "$params.results/$params.sampleID/timeline.html"
}

workflow.onComplete = {

	println "Completed at     : $workflow.complete"
	println "Duration         : $workflow.duration"
	println "Execution status : ${workflow.success ? 'OK': 'failed'}"
	println "Command line     : $workflow.commandLine"
}
