params {
	experiment = "crc_cell_lines"
	map_file = "${baseDir}/test_data/vcf_files/crc_cell_lines.txt"
	msgf_mod_file = "${baseDir}/test_data/reference/Mods.txt"
	mgf_dir = "${baseDir}/test_data/mgf_files/"
	search_result_dir = "${baseDir}/test_data/results/search_results/"
	cpj_out_dir = "${baseDir}/test_data/results/customprodbj_results/"
	//search_engine = "msgf"
	//search_engine = "comet"
	search_engine = "xtandem"
	annovar{
		buildver = "hg19"
		protocol = "refGene"
		operation = "g"
		reference = "${baseDir}/test_data/reference/hg19/"
		anno_dir = "${baseDir}/test_data/results/annovar_results/" //Annovar results folder
		annovar = "~/software/annovar/" //Annovar path
	}
	hla{
		hla_reference = "${baseDir}/test_data/reference/hla_reference/"
		optitype_output = "${baseDir}/test_data/results/optitype_results/"
		bam_folder = "${baseDir}/test_data/germline_results/"
	}
	neoantigen{
		out_dir = "${baseDir}/test_data/results/netmhc_results/"
		hla_class_results_dir = "${baseDir}/test_data/results/optitype_results/"
	}
	pepquery{
		out_dir = "${baseDir}/test_data/results/pepquery_results/"
	}
	autoRt{
		input = "${baseDir}/test_data/results/autoRT_input/"
		output = "${baseDir}/test_data/results/autoRT_results/"
		run = "Yes"
	}
	threads = 6

}
docker {

	enabled    = true
	remove     = true
	runOptions = '-u $(id -u):$(id -g)'
	temp       = "/data/kail/tmp/"
}
